In [2]:
import pandas as pd
rating_cols = ['Year', 'Anomaly']
df = pd.read_csv('tempe.txt', sep=',', names=rating_cols)
df

     Year  Anomaly
0    1850    -0.22
1    1851    -0.19
2    1852    -0.38
3    1853    -0.18
4    1854    -0.22
..    ...      ...
169  2019     1.05
170  2020     1.11
171  2021     0.79
172  2022     0.90
173  2023     1.00

[174 rows x 2 columns]

In [3]:
import joblib
# rating_cols = ['Year', 'Anomaly']
data = df['Anomaly']
n = len(data)
sizeTrain = (round(n*0.8))
data_train = pd.DataFrame(data[:sizeTrain])
data_test = pd.DataFrame(data[sizeTrain:])
data_train

     Anomaly
0      -0.22
1      -0.19
2      -0.38
3      -0.18
4      -0.22
..       ...
134     0.13
135     0.12
136     0.27
137     0.21
138     0.46

[139 rows x 1 columns]

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train_scaled = scaler.fit_transform(data_train)

# Mengaplikasikan MinMaxScaler pada data pengujian
test_scaled = scaler.transform(data_test)

# reshaped_data = data.reshape(-1, 1)
train = pd.DataFrame(train_scaled, columns = ['data'])
train = train['data']

test = pd.DataFrame(test_scaled, columns = ['data'])
test = test['data']
joblib.dump(scaler, 'scaler.pkl')
test

0     0.942857
1     1.142857
2     1.114286
3     0.790476
4     0.904762
5     0.952381
6     1.047619
7     0.914286
8     0.952381
9     1.228571
10    0.914286
11    1.142857
12    1.095238
13    1.095238
14    1.142857
15    1.190476
16    1.228571
17    1.057143
18    1.323810
19    1.057143
20    1.123810
21    1.409524
22    1.180952
23    1.276190
24    1.104762
25    1.371429
26    1.333333
27    1.647619
28    1.485714
29    1.419048
30    1.561905
31    1.619048
32    1.314286
33    1.419048
34    1.514286
Name: data, dtype: float64