In [2]:
import pandas as pd
rating_cols = ['Year', 'Anomaly']
df = pd.read_csv('tempe.txt', sep=',', names=rating_cols)
df

     Year  Anomaly
0    1850    -0.22
1    1851    -0.19
2    1852    -0.38
3    1853    -0.18
4    1854    -0.22
..    ...      ...
169  2019     1.05
170  2020     1.11
171  2021     0.79
172  2022     0.90
173  2023     1.00

[174 rows x 2 columns]

In [3]:
import joblib
# rating_cols = ['Year', 'Anomaly']
data = df['Anomaly']
n = len(data)
sizeTrain = (round(n*0.8))
data_train = pd.DataFrame(data[:sizeTrain])
data_test = pd.DataFrame(data[sizeTrain:])
data_train

     Anomaly
0      -0.22
1      -0.19
2      -0.38
3      -0.18
4      -0.22
..       ...
134     0.13
135     0.12
136     0.27
137     0.21
138     0.46

[139 rows x 1 columns]