In [1]:
import pandas as pd
rating_cols = ['Year', 'Anomaly']
df = pd.read_csv('tempe.txt', sep=',', names=rating_cols)
df

     Year  Anomaly
0    1850    -0.22
1    1851    -0.19
2    1852    -0.38
3    1853    -0.18
4    1854    -0.22
..    ...      ...
169  2019     1.05
170  2020     1.11
171  2021     0.79
172  2022     0.90
173  2023     1.00

[174 rows x 2 columns]

In [2]:
import joblib
# rating_cols = ['Year', 'Anomaly']
data = df['Anomaly']
n = len(data)
sizeTrain = (round(n*0.8))
data_train = pd.DataFrame(data[:sizeTrain])
data_test = pd.DataFrame(data[sizeTrain:])
data_train

     Anomaly
0      -0.22
1      -0.19
2      -0.38
3      -0.18
4      -0.22
..       ...
134     0.13
135     0.12
136     0.27
137     0.21
138     0.46

[139 rows x 1 columns]

In [3]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train_scaled = scaler.fit_transform(data_train)

# Mengaplikasikan MinMaxScaler pada data pengujian
test_scaled = scaler.transform(data_test)

# reshaped_data = data.reshape(-1, 1)
train = pd.DataFrame(train_scaled, columns = ['data'])
train = train['data']

test = pd.DataFrame(test_scaled, columns = ['data'])
test = test['data']
joblib.dump(scaler, 'scaler.pkl')
test

0     0.942857
1     1.142857
2     1.114286
3     0.790476
4     0.904762
5     0.952381
6     1.047619
7     0.914286
8     0.952381
9     1.228571
10    0.914286
11    1.142857
12    1.095238
13    1.095238
14    1.142857
15    1.190476
16    1.228571
17    1.057143
18    1.323810
19    1.057143
20    1.123810
21    1.409524
22    1.180952
23    1.276190
24    1.104762
25    1.371429
26    1.333333
27    1.647619
28    1.485714
29    1.419048
30    1.561905
31    1.619048
32    1.314286
33    1.419048
34    1.514286
Name: data, dtype: float64

In [4]:
import numpy as np
from numpy import array
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  
  return array(X), array(y)
df_X, df_Y = split_sequence(train, 2)
x = pd.DataFrame(df_X)
y = pd.DataFrame(df_Y)
dataset_train = pd.concat([x, y], axis=1)
dataset_train
# dataset_train.to_excel('data-train.xlsx', index=False)
X_train = dataset_train.iloc[:, :2].values
Y_train = dataset_train.iloc[:, -1].values
test_x, test_y = split_sequence(test, 2)
x = pd.DataFrame(test_x)
y = pd.DataFrame(test_y)
dataset_test = pd.concat([x, y], axis=1)
dataset_test.to_csv('data-test.csv', index=False)
X_test = dataset_test.iloc[:, :2].values
Y_test = dataset_test.iloc[:, -1].values
dataset_test

           0         1         0
0   0.942857  1.142857  1.114286
1   1.142857  1.114286  0.790476
2   1.114286  0.790476  0.904762
3   0.790476  0.904762  0.952381
4   0.904762  0.952381  1.047619
5   0.952381  1.047619  0.914286
6   1.047619  0.914286  0.952381
7   0.914286  0.952381  1.228571
8   0.952381  1.228571  0.914286
9   1.228571  0.914286  1.142857
10  0.914286  1.142857  1.095238
11  1.142857  1.095238  1.095238
12  1.095238  1.095238  1.142857
13  1.095238  1.142857  1.190476
14  1.142857  1.190476  1.228571
15  1.190476  1.228571  1.057143
16  1.228571  1.057143  1.323810
17  1.057143  1.323810  1.057143
18  1.323810  1.057143  1.123810
19  1.057143  1.123810  1.409524
20  1.123810  1.409524  1.180952
21  1.409524  1.180952  1.276190
22  1.180952  1.276190  1.104762
23  1.276190  1.104762  1.371429
24  1.104762  1.371429  1.333333
25  1.371429  1.333333  1.647619
26  1.333333  1.647619  1.485714
27  1.647619  1.485714  1.419048
28  1.485714  1.419048  1.561905
29  1.419048  1.561905  1.619048
30  1.561905  1.619048  1.314286
31  1.619048  1.314286  1.419048
32  1.314286  1.419048  1.514286